<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Магазин за подводен риболов "Le Grand Blue"{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <h1 style="text-align: center">Le Grand Blue</h1>
    <h2 style="text-align: center">Магазин за подводен риболов и свободно гмуркане</h2>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
