{% extends 'base.html.twig' %}

{% block body %}
<table border="1px">
    <tr>
        <th>Name</th>
        <th>Brand</th>
        <th>Price</th>
        <th>Category</th>
    </tr>
    {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.brand }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.category.name }}</td>
        </tr>

    {% endfor %}
</table>
{% endblock %}
