{% extends 'base.html.twig' %}

{% block body %}
    <form name="login" action="{{ path('homepage') }}" method="post">
        Email:<input type="text" name="user[email]"></br>
        Password:<input type="text" name="user[password]"></br>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token("login") }}">
        <input type="submit" value="Login">
    </form>
{% endblock %}